# Скачиваем данные и устанавливаем программы

In [1]:
!wget https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/gms2.lst

--2022-10-19 13:07:36--  https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/gms2.lst
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 219646 (214K) [text/plain]
Saving to: ‘gms2.lst’

gms2.lst            100%[===================>] 214.50K  --.-KB/s    in 0.02s

2022-10-19 13:07:36 (13.4 MB/s) - ‘gms2.lst’ saved [219646/219646]

In [2]:
!wget https://raw.githubusercontent.com/makogon2907/hse22_hw1/master/data/scaffolds_gapclosed.fasta
!mv scaffolds_gapclosed.fasta scaffold.fa

--2022-10-19 13:07:36--  https://raw.githubusercontent.com/makogon2907/hse22_hw1/master/data/scaffolds_gapclosed.fasta
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3957133 (3.8M) [text/plain]
Saving to: ‘scaffolds_gapclosed.fasta’

scaffolds_gapclosed 100%[===================>]   3.77M  --.-KB/s    in 0.05s

2022-10-19 13:07:36 (69.4 MB/s) - ‘scaffolds_gapclosed.fasta’ saved [3957133/3957133]

In [3]:
!wget https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/proteins.fasta

--2022-10-19 13:07:37--  https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/proteins.fasta
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1401813 (1.3M) [text/plain]
Saving to: ‘proteins.fasta’

proteins.fasta      100%[===================>]   1.34M  --.-KB/s    in 0.04s

2022-10-19 13:07:37 (30.8 MB/s) - ‘proteins.fasta’ saved [1401813/1401813]

In [4]:
!wget https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/scaffolds.hits_from_MIL_1.txt

--2022-10-19 13:07:37--  https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/scaffolds.hits_from_MIL_1.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 866747 (846K) [text/plain]
Saving to: ‘scaffolds.hits_from_MIL_1.txt’

scaffolds.hits_from 100%[===================>] 846.43K  --.-KB/s    in 0.03s

2022-10-19 13:07:37 (28.9 MB/s) - ‘scaffolds.hits_from_MIL_1.txt’ saved [866747/866747]

In [5]:
!wget https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/scaffolds.hits_from_SwissProt.txt

--2022-10-19 13:07:37--  https://raw.githubusercontent.com/makogon2907/hse22_hw2/master/data/scaffolds.hits_from_SwissProt.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65741 (64K) [text/plain]
Saving to: ‘scaffolds.hits_from_SwissProt.txt’

scaffolds.hits_from 100%[===================>]  64.20K  --.-KB/s    in 0.007s

2022-10-19 13:07:38 (9.16 MB/s) - ‘scaffolds.hits_from_SwissProt.txt’ saved [65741/65741]

## Скачиваем геном близкородственной бактерии T.oleivorans

Геном, последовательности генов (нт) и белков (протеом) для бактерии Thalassolituus oleivorans MIL-1
https://www.ncbi.nlm.nih.gov/nuccore/HF680312

In [6]:
!sh -c "$(curl -fsSL ftp://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/install-edirect.sh)"

Entrez Direct has been successfully downloaded and installed.

In order to complete the configuration process, please execute the following:

  echo "export PATH=\${PATH}:/root/edirect" >> ${HOME}/.bashrc

or manually edit the PATH variable assignment in your .bashrc file.

Would you like to do that automatically now? [y/N]
y
OK, done.

To activate EDirect for this terminal session, please execute the following:

export PATH=${PATH}:${HOME}/edirect

In [7]:
!$HOME/edirect/efetch -db nuccore -id HF680312 -format gb  >  T_oleivorans_MIL_1.gbk

In [8]:
!pip install biopython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.6 MB)
     |████████████████████████████████| 2.6 MB 8.6 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython) (1.21.6)
Installing collected packages: biopython
Successfully installed biopython-1.79

## Аннотация генома (пример)

Biopython Tutorial: http://biopython.org/DIST/docs/tutorial/Tutorial.html

In [9]:
!head -n 20 gms2.lst

# GeneMark.hmm-2 LST format
# GeneMark.hmm-2 prokaryotic version: 1.25_lic
# File with sequence: scaffold.fa
# File with native parameters: GMS2.mod
# Native species name and build: unspecified GeneMarkS-2-1.14_1.25_lic
# File with MetaGeneMark parameters: /content/gms2_linux_64/mgm_11.mod
# translation table: 11
# output date start: Wed Oct 19 12:24:40 2022

# sequence-region 1 3871074
SequenceID: scaffold1_cov231
     1   +   <3    98      96 native
     2   -    354    1007     654 native AGGAAA 3 1
     3   -    1057    2058    1002 native AGGAAT 4 1
     4   -    2160    2963     804 native GAGAGA 6 1
     5   -    3069    3944     876 native CCGAGA 6 1
     6   +    4092    5582    1491 native AGGAGA 6 1
     7   -    5660    7531    1872 native ATGTTT 6 1
     8   +    7693    8886    1194 native CGGAAG 4 1
     9   +    8899    9333     435 native AGGAGT 4 1

In [10]:
from Bio import SeqIO

records = dict()
helper = dict()

for record in SeqIO.parse("/content/scaffold.fa", "fasta"):
  record.annotations['molecule_type'] = 'DNA'
  records[record.id] = record

## Добавляем координаты и трансляции генов

In [11]:
from Bio.SeqFeature import SeqFeature, FeatureLocation

for record in SeqIO.parse("proteins.fasta", "fasta"):
  locus, scaffold, start, end, strand = record.description.split()[:5]
  strand = -1 if strand == '-' else 1
  feature = SeqFeature(FeatureLocation(int(start), int(end), strand=strand), type='CDS')
  feature.qualifiers['locus_tag'] = [locus]
  feature.qualifiers['translation'] = [record.seq]
  helper[locus] = feature
  records[scaffold].features.append(feature)

## Добавляем функции белков (из бактерии MIL-1)

In [12]:
import pandas as pd
names = ['qseqid', 'sseqid', 'pident', 'length', 'mismatch', 'gapopen', 'qstart', 'qend', 'sstart', 'send', 'evalue', 'bitscore']

data = pd.read_csv('scaffolds.hits_from_MIL_1.txt', sep='\t', names=names)

data.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,2,lcl|HF680312.1_prot_CCU73646.1_3197,98.618,217,3,0,1,217,1,217,4.100000e-153,420.0
1,3,lcl|HF680312.1_prot_CCU73647.1_3198,100.000,333,0,0,1,333,1,333,0.000000e+00,690.0
2,4,lcl|HF680312.1_prot_CCU73648.1_3199,100.000,267,0,0,1,267,1,267,0.000000e+00,543.0
3,5,lcl|HF680312.1_prot_CCU73649.1_3200,99.656,291,1,0,1,291,1,291,0.000000e+00,592.0
4,5,lcl|HF680312.1_prot_CCU72042.1_1593,24.034,233,171,4,17,245,18,248,8.500000e-16,73.2

In [13]:
mil_1_genome = SeqIO.read("/content/T_oleivorans_MIL_1.gbk", "genbank")

In [14]:
genes = dict()

for  f in mil_1_genome.features:
  if 'protein_id' not in f.qualifiers or 'product' not in f.qualifiers:
    continue
  genes[f.qualifiers['protein_id'][0]] = f.qualifiers['product'][0]

In [15]:
inds = data['sseqid'].str.contains("CCU")
print(data.shape)
data = data[inds].sort_values('bitscore', ascending=False).drop_duplicates('qseqid')
data.head()

(10480, 12)

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
670,268,lcl|HF680312.1_prot_CCU73896.1_3447,98.979,2253,23,0,1,2253,1,2253,0.0,4296.0
2077,730,lcl|HF680312.1_prot_CCU70724.1_275,97.870,2113,43,1,7,2119,1,2111,0.0,4158.0
6987,2465,lcl|HF680312.1_prot_CCU71900.1_1451,99.878,1640,2,0,1,1640,1,1640,0.0,3406.0
448,192,lcl|HF680312.1_prot_CCU73861.1_3412,99.214,1654,13,0,1,1654,1,1654,0.0,3372.0
7737,2740,lcl|HF680312.1_prot_CCU71621.1_1172,99.690,1611,5,0,1,1611,1,1611,0.0,3338.0

In [16]:
for i, row in data.iterrows():
  seq = row['sseqid'].split('_')[2]
  helper[str(row['qseqid'])].qualifiers['product'] = [genes[seq]]

for loc in helper:
  if not helper[loc].qualifiers.get('product', None):
    data = data[data["qseqid"] != loc]

In [18]:
data.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
670,268,lcl|HF680312.1_prot_CCU73896.1_3447,98.979,2253,23,0,1,2253,1,2253,0.0,4296.0
2077,730,lcl|HF680312.1_prot_CCU70724.1_275,97.870,2113,43,1,7,2119,1,2111,0.0,4158.0
6987,2465,lcl|HF680312.1_prot_CCU71900.1_1451,99.878,1640,2,0,1,1640,1,1640,0.0,3406.0
448,192,lcl|HF680312.1_prot_CCU73861.1_3412,99.214,1654,13,0,1,1654,1,1654,0.0,3372.0
7737,2740,lcl|HF680312.1_prot_CCU71621.1_1172,99.690,1611,5,0,1,1611,1,1611,0.0,3338.0

In [19]:
print("Количествово генов, которые удалось аннотированных с помощью сравнения: ", data.shape[0])

Количествово генов, которые удалось аннотированных с помощью сравнения:  3325

## Добавляем функции белков (из БД SwissProt)

Читаем информацию из файла scaffolds.hits_from_SwissProt.txt

In [20]:
!head scaffolds.hits_from_SwissProt.txt

212	sp|P39213|INSN_SHIDY	46.392	97	51	1	7	103	17	112	3.77e-27	99.0
212	sp|P75679|INSN1_ECOLI	47.059	85	44	1	7	91	17	100	4.72e-22	86.7
212	sp|P39212|INSN2_ECOLI	40.964	83	48	1	7	89	5	86	1.04e-18	76.6
213	sp|P39315|QOR2_ECOLI	55.705	149	66	0	3	151	132	280	3.51e-48	160
219	sp|P37626|YHII_ECOLI	55.460	348	144	1	23	359	8	355	4.06e-121	356
219	sp|Q93AA7|YBHG_YERPE	29.730	333	206	7	8	328	3	319	2.37e-32	126
219	sp|B1JSP3|Y2900_YERPY	29.730	333	206	7	8	328	3	319	2.37e-32	126
219	sp|Q1CFT7|Y2816_YERPN	29.730	333	206	7	8	328	3	319	2.37e-32	126
219	sp|A7FKJ7|Y2812_YERP3	29.730	333	206	7	8	328	3	319	2.37e-32	126
219	sp|Q1C912|Y1093_YERPA	29.730	333	206	7	8	328	3	319	2.37e-32	126

product = 'Similar to SwissProt protein Y1178_METJA (E-value = 2.95e-28)'

Получить функции белков SwissProt из файла: https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.dat.gz

In [21]:
!wget https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.dat.gz

--2022-10-19 13:08:25--  https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.dat.gz
Resolving ftp.uniprot.org (ftp.uniprot.org)... 128.175.240.195
Connecting to ftp.uniprot.org (ftp.uniprot.org)|128.175.240.195|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 642093634 (612M) [application/x-gzip]
Saving to: ‘uniprot_sprot.dat.gz’

uniprot_sprot.dat.g 100%[===================>] 612.35M  12.6MB/s    in 25s

2022-10-19 13:08:50 (24.5 MB/s) - ‘uniprot_sprot.dat.gz’ saved [642093634/642093634]

In [22]:
!gzip -d uniprot_sprot.dat.gz

In [23]:
!grep Q55EH8 uniprot_sprot.dat

AC   Q55EH8;
DR   AlphaFoldDB; Q55EH8; -.
DR   SMR; Q55EH8; -.
DR   PaxDb; Q55EH8; -.
DR   InParanoid; Q55EH8; -.
DR   PhylomeDB; Q55EH8; -.
DR   PRO; PR:Q55EH8; -.

In [24]:
name = ""
d = dict()
with open("uniprot_sprot.dat", 'r') as f:
    for line in f.readlines():
        if line.startswith("ID"):
            name = line.split()[1]
        if line.startswith("DE"):
            d[name] = line[:-2].split("=")[-1]

In [25]:
data.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
670,268,lcl|HF680312.1_prot_CCU73896.1_3447,98.979,2253,23,0,1,2253,1,2253,0.0,4296.0
2077,730,lcl|HF680312.1_prot_CCU70724.1_275,97.870,2113,43,1,7,2119,1,2111,0.0,4158.0
6987,2465,lcl|HF680312.1_prot_CCU71900.1_1451,99.878,1640,2,0,1,1640,1,1640,0.0,3406.0
448,192,lcl|HF680312.1_prot_CCU73861.1_3412,99.214,1654,13,0,1,1654,1,1654,0.0,3372.0
7737,2740,lcl|HF680312.1_prot_CCU71621.1_1172,99.690,1611,5,0,1,1611,1,1611,0.0,3338.0

In [26]:
data = pd.read_csv('scaffolds.hits_from_SwissProt.txt', sep='\t', names=names)
data = data.sort_values('bitscore', ascending=False).drop_duplicates('qseqid')

data = data.assign(seq = lambda row: str(row['sseqid']).strip().split('|')[-1])

data.head()

for i, row in data.iterrows():
  seq = row['sseqid'].split('|')[-1]
  helper[str(row['qseqid'])].qualifiers['product'] = [d[seq]]

for loc in helper:
  if not helper[loc].qualifiers.get('product', None):
    data = data[data["qseqid"] != loc]

In [27]:
print("Количествово генов, которые удалось аннотированных с помощью базы SwissProt: ", data.shape[0])

Количествово генов, которые удалось аннотированных с помощью базы SwissProt:  53

In [28]:
SeqIO.write(records.values(), "GENOME.gbk", "genbank")

64